 # Name: Tamanna Vaikkath 
 # PRN: 22070521094

# **OLAP Operations on Sales Data**

In [3]:
import pandas as pd
import numpy as np

## **Dataset Creation**

In [4]:
sales_records = {
    'Year': [2023, 2023, 2023, 2024, 2024, 2024],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q1', 'Q2', 'Q3'],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South'],
    'City': ['Delhi', 'Mumbai', 'Kolkata', 'Bangalore', 'Chennai', 'Hyderabad'],
    'Category': ['Electronics', 'Apparel', 'Electronics', 'Apparel', 'Electronics', 'Apparel'],
    'Product': ['Laptop', 'Shirt', 'Smartphone', 'Jacket', 'Tablet', 'Shoes'],
    'Revenue': [12000, 8000, 17000, 9500, 11500, 8500]
}

In [5]:
sales_data = pd.DataFrame(sales_records)
print("Original Data:\n", sales_data)

Original Data:
    Year Quarter Region       City     Category     Product  Revenue
0  2023      Q1  North      Delhi  Electronics      Laptop    12000
1  2023      Q2  South     Mumbai      Apparel       Shirt     8000
2  2023      Q3   East    Kolkata  Electronics  Smartphone    17000
3  2024      Q1   West  Bangalore      Apparel      Jacket     9500
4  2024      Q2  North    Chennai  Electronics      Tablet    11500
5  2024      Q3  South  Hyderabad      Apparel       Shoes     8500

## **Roll-Up Operation**  
Aggregate Revenue by Year

In [6]:
yearly_revenue = sales_data.groupby('Year', as_index=False)['Revenue'].sum()
print("\nRoll-Up (Aggregate Revenue by Year):\n", yearly_revenue)

Roll-Up (Aggregate Revenue by Year):
    Year  Revenue
0  2023    37000
1  2024    29500

## **Drill-Down Operation**  
Revenue breakdown by Year and Quarter

In [7]:
quarterly_revenue = sales_data.groupby(['Year', 'Quarter'], as_index=False)['Revenue'].sum()
print("\nDrill-Down (Revenue by Year and Quarter):\n", quarterly_revenue)

Drill-Down (Revenue by Year and Quarter):
    Year Quarter  Revenue
0  2023      Q1    12000
1  2023      Q2     8000
2  2023      Q3    17000
3  2024      Q1     9500
4  2024      Q2    11500
5  2024      Q3     8500

## **Slice Operation**  
Extract data for Year 2023

In [8]:
filtered_2023 = sales_data[sales_data['Year'] == 2023]
print("\nSlice (Data for Year 2023):\n", filtered_2023)

Slice (Data for Year 2023):
    Year Quarter Region     City     Category     Product  Revenue
0  2023      Q1  North    Delhi  Electronics      Laptop    12000
1  2023      Q2  South   Mumbai      Apparel       Shirt     8000
2  2023      Q3   East  Kolkata  Electronics  Smartphone    17000

## **Dice Operation**  
Revenue for Year 2023 and Region 'North'

In [9]:
specific_slice = sales_data[(sales_data['Year'] == 2023) & (sales_data['Region'] == 'North')]
print("\nDice (Revenue for Year 2023 and Region 'North'):\n", specific_slice)

Dice (Revenue for Year 2023 and Region 'North'):
    Year Quarter Region   City     Category Product  Revenue
0  2023      Q1  North  Delhi  Electronics  Laptop    12000

## **Pivot Table Visualization**  
Revenue by Year and Region

In [10]:
revenue_pivot = sales_data.pivot_table(values='Revenue', index='Year', columns='Region', aggfunc=np.sum, fill_value=0)
print("\nPivot Table (Revenue by Year and Region):\n", revenue_pivot)

Pivot Table (Revenue by Year and Region):
 Region   East  North  South  West
Year
2023    17000  12000   8000     0
2024        0  11500   8500  9500

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21080\2106994225.py:1: FutureWarning: The provided callable <function sum at 0x000001B07184B2E0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  revenue_pivot = sales_data.pivot_table(values='Revenue', index='Year', columns='Region', aggfunc=np.sum, fill_value=0)