- # Name: Tamanna Vaikkath 
- # PRN: 22070521094

In [18]:
import pandas as pd

In [19]:
car_data = pd.read_csv('..\data\carSalesData.csv')
car_data.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [20]:
car_data.isna().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [21]:
car_data['Make'].fillna('Unknown', inplace=True)
car_data['Colour'].fillna('Unknown', inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21008\912004898.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Make'].fillna('Unknown', inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_21008\912004898.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Colour'].fillna('Unknown', inplace=True)

In [22]:
car_data['Price'] = car_data['Price'].str.replace(r'[\$,]', '', regex=True).astype(float)

In [23]:
car_data['Odometer'].fillna(car_data['Odometer'].mean(), inplace=True)
car_data['Doors'].fillna(car_data['Doors'].median(), inplace=True)
car_data['Price'].fillna(car_data['Price'].mean(), inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21008\2952624808.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Odometer'].fillna(car_data['Odometer'].mean(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_21008\2952624808.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Doors'].fillna(car_data['Doors'].median(), inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_21008\2952624808.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['Price'].fillna(car_data['Price'].mean(), inplace=True)

In [24]:
print(car_data.isna().sum())

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [25]:
car_data.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64